 

.sidebar > hr{
    height : 1px;
    border : 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}



.sidebar {
    position: fixed;
    top: 150px;
    width: 300px;
    flex-shrink: 1;    
  }
 
   